<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attractionId</key>
		<string>1</string>
		<key>attractionName</key>
		<string>attractionName_1</string>
		<key>attractionText</key>
		<string>attractionText_1</string>
		<key>facts</key>
		<array>
			<dict>
				<key>factId</key>
				<string>1</string>
				<key>factTitle</key>
				<string>factTitle_1_1</string>
				<key>factText</key>
				<string>factText_1_1</string>
			</dict>
			<dict>
				<key>factId</key>
				<string>2</string>
				<key>factTitle</key>
				<string>factTitle_1_2</string>
				<key>factText</key>
				<string>factText_1_2</string>
			</dict>
			<dict>
				<key>factId</key>
				<string>3</string>
				<key>factTitle</key>
				<string>factTitle_1_3</string>
				<key>factText</key>
				<string>factText_1_3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>attractionId</key>
		<string>2</string>
		<key>attractionName</key>
		<string>attractionName_2</string>
		<key>attractionText</key>
		<string>attractionText_2</string>
		<key>facts</key>
		<array>
			<dict>
				<key>factId</key>
				<string>1</string>
				<key>factTitle</key>
				<string>factTitle_2_1</string>
				<key>factText</key>
				<string>factText_2_1</string>
			</dict>
			<dict>
				<key>factId</key>
				<string>2</string>
				<key>factTitle</key>
				<string>factTitle_2_2</string>
				<key>factText</key>
				<string>factText_2_2</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
